PANCHANG_LOCATION_NAME=Mumbai, India
PANCHANG_LATITUDE=19.0760
PANCHANG_LONGITUDE=72.8777
PANCHANG_TIMEZONE_OFFSET=+05:30
PANCHANG_TIME_ZONE=Asia/Kolkata
PANCHANG_FETCH_TIME=05:00
PANCHANG_AYANAMSA=RAMAN
